autom4te.cache
configure
Makefile
Dockerfile-build
Dockerfile-server
Dockerfile-metaserver
config.log
config.status
index.html
begin.man
liquidwar.tex
begin.texi
liquidwar.nsi
liquidward
macosx_info.plist
Makefile.dep
*.o
*~
*.tar.gz
liquidwar
liquidwar-server
liquidwar-mapgen
liquidwarcol
liquidwarmap
liquidwartex
*.dat
.#*
*.bak
/misc/docker/tables.sql
doc/tex/*.aux
doc/tex/*.dvi
doc/tex/*.log
doc/tex/*.tex
doc/tex/*.toc
doc/texi/*.texi
doc/txt/*.txt
doc/html/*.html
doc/man/*.man
doc/man/*.6
doc/man/*.6.gz
allegro-4*
allegro-5*
__pycache__
*.pyc
src/liquidwar.dSYM
