autom4te.cache
configure
Makefile
Dockerfile-build
Dockerfile-server
Dockerfile-metaserver
config.log
config.status
index.html
begin.man
liquidwar.tex
begin.texi
liquidwar.nsi
liquidward
macosx_info.plist
Makefile.dep
*.o
*~
*.tar.gz
liquidwar
liquidwar-server
*.dat
/misc/docker/tables.sql
