autom4te.cache
configure
Makefile
Dockerfile-build
Dockerfile-server
config.log
config.status
index.html
begin.man
liquidwar.tex
begin.texi
liquidwar.nsi
liquidward
macosx_info.plist
Makefile.dep
*.o
